# Document retrieval from Wikipedia data

In [1]:
import turicreate

# Load some text data from Wikipedia

In [2]:
people = turicreate.SFrame('m_cf05efad0f89a530.frame_idx')

In [3]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Explore data

## Taking a look at the entry for President Obama

In [4]:
obama = people[people['name'] == 'Barack Obama']

In [5]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [8]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

## Explore the entry for actor George Clooney

In [6]:
clooney = people[people['name'] == 'George Clooney']['text']
clooney

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

# Word counts for Obama acticle

In [7]:
obama['word_count'] = turicreate.text_analytics.count_words(obama['text'])

In [8]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'cuba': 1.0, 'relations':... |
+-------------------------------+
[1 rows x 4 columns]

In [9]:
print (obama['word_count'])

[{'cuba': 1.0, 'relations': 1.0, 'sought': 1.0, 'combat': 1.0, 'ending': 1.0, 'withdrawal': 1.0, 'state': 1.0, 'islamic': 1.0, 'by': 1.0, 'gains': 1.0, 'unconstitutional': 1.0, '8': 1.0, 'marriage': 1.0, 'down': 1.0, 'urged': 1.0, 'process': 1.0, 'which': 1.0, 'filed': 1.0, 'administration': 1.0, 'while': 1.0, 'americans': 1.0, 'full': 1.0, 'lgbt': 1.0, 'called': 1.0, 'proposition': 1.0, 'shooting': 1.0, 'elementary': 1.0, 'gun': 1.0, 'related': 1.0, 'policies': 1.0, 'promoted': 1.0, 'supreme': 1.0, 'has': 4.0, '2012': 1.0, 'reelected': 1.0, '2012obama': 1.0, 'continued': 1.0, 'budget': 1.0, 'californias': 1.0, 'limit': 1.0, 'nations': 1.0, 'briefs': 1.0, 'not': 1.0, 'or': 1.0, 'lengthy': 1.0, '63': 1.0, 'lost': 1.0, '2011': 3.0, 'laden': 1.0, 'against': 1.0, 'osama': 1.0, 'obamacare': 1.0, 'that': 1.0, 'defense': 1.0, 'national': 2.0, 'operation': 1.0, 'ordered': 3.0, 'made': 1.0, 'earning': 1.0, 'control': 4.0, 'victory': 1.0, 'arms': 1.0, 'afghanistan': 2.0, 'economic': 1.0, 'three': 1.0, 'troop': 1.0, 'primaries': 1.0, 'war': 1.0, 'involvement': 3.0, 'with': 3.0, 'foreign': 2.0, 'relief': 2.0, 'repeal': 1.0, 'convention': 1.0, 'street': 1.0, 'referred': 1.0, 'military': 4.0, 'constitutional': 1.0, 'consumer': 1.0, 'care': 1.0, 'major': 1.0, 'patient': 1.0, 'start': 1.0, 'whether': 1.0, 'federal': 1.0, 'term': 3.0, 'initiatives': 1.0, 'ask': 1.0, 'domestic': 2.0, 'increased': 1.0, 'other': 1.0, 'over': 1.0, 'democratic': 4.0, 'creation': 1.0, 'romney': 1.0, 'job': 1.0, 'school': 3.0, 'russia': 1.0, 'reauthorization': 1.0, 'degree': 1.0, 'insurance': 1.0, 'unemployment': 1.0, 'normalize': 1.0, 'tax': 1.0, 'reinvestment': 1.0, 'recovery': 1.0, 'form': 1.0, 'into': 1.0, 'recession': 1.0, 'libya': 1.0, 'states': 3.0, 'great': 1.0, 'sandy': 1.0, 'legislation': 1.0, 'stimulus': 1.0, 'mitt': 1.0, 'levels': 1.0, 'reform': 1.0, '1961': 1.0, 'as': 6.0, 'doddfrank': 1.0, 'operations': 1.0, 'sworn': 1.0, 'years': 1.0, 'laureateduring': 1.0, 'prize': 1.0, '1996': 1.0, 'named': 1.0, 'nine': 1.0, '2009': 3.0, '20': 2.0, 'included': 1.0, 'began': 1.0, 'on': 2.0, '13th': 1.0, 'inaugurated': 1.0, 'to': 14.0, 'general': 1.0, 'second': 2.0, 'rodham': 1.0, 'two': 1.0, 'john': 1.0, 'address': 1.0, 'sufficient': 1.0, 'protection': 2.0, 'hold': 1.0, 'won': 1.0, 'hillary': 1.0, 'born': 2.0, 'close': 1.0, 'after': 4.0, 'a': 7.0, 'treaty': 1.0, 'seats': 1.0, 'november': 2.0, 'election': 3.0, 'wall': 1.0, 'presidential': 2.0, 'often': 1.0, 'july': 1.0, 'organizer': 1.0, 'primary': 2.0, 'nobel': 1.0, 'party': 3.0, 'court': 1.0, 'march': 1.0, '1992': 1.0, 'bm': 1.0, 'keynote': 1.0, 'campaign': 3.0, '2000in': 1.0, 'clinton': 1.0, 'during': 2.0, 'ended': 1.0, 'he': 7.0, 'house': 2.0, 'bin': 1.0, 'and': 21.0, 'senate': 3.0, 'attention': 1.0, 'district': 1.0, 'new': 1.0, 'worked': 1.0, 'representing': 1.0, 'mccain': 1.0, 'current': 1.0, 'january': 3.0, 'terms': 1.0, '2004': 3.0, '2010': 2.0, '2008': 1.0, 'from': 3.0, 'months': 1.0, 'policy': 2.0, 'at': 2.0, 'strike': 1.0, 'for': 4.0, 'civil': 1.0, 'taught': 1.0, 'brk': 1.0, 'attorney': 1.0, 'running': 1.0, 'before': 1.0, 'then': 1.0, 'chicago': 2.0, '4': 1.0, 'community': 1.0, '1997': 1.0, 'resulted': 1.0, 'debt': 1.0, 'illinois': 2.0, 'harvard': 2.0, 'us': 6.0, 'review': 1.0, 'nomination': 1.0, 'taxpayer': 1.0, 'death': 1.0, 'law': 6.0, 'husen': 1.0, 'dont': 2.0, 'spending': 1.0, 'served': 2.0, 'equality': 1.0, 'iraq': 4.0, 'where': 1.0, 'columbia': 1.0, 'unsuccessfully': 1.0, 'was': 5.0, 'hawaii': 1.0, 'total': 1.0, '2007': 1.0, 'hook': 1.0, 'debate': 1.0, 'honolulu': 1.0, 'raise': 1.0, 'barack': 1.0, 'tell': 1.0, 'affordable': 1.0, 'first': 3.0, 'obama': 9.0, 'hussein': 1.0, '2013': 1.0, 'republicans': 1.0, 'in': 30.0, 'office': 2.0, 'american': 3.0, 'graduate': 1.0, 'is': 2.0, 'peace': 1.0, 'regained': 1.0, 'represent': 1.0, 'defeating': 1.0, 'signed': 3.0, 'president': 4.0, 'united': 3.0, 'african': 1.0, 'representatives': 2.0, 'nominee': 2.0, '44th': 1.0, 'delegates': 1.0, 'the': 40.0, 'his': 11.0, 'august': 1.0, 'republican': 2.0, 'defeated': 1.0, 'university': 2.0, 'received': 1.0, 'of': 18.0, 'receive': 1.0, 'response': 3.0, 'ii': 1.0, 'act': 8.0, 'rights': 1.0}]

## Find most common words in Obama article

In [13]:
obama.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	int

Rows: 273

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+------------+-------+
|    word    | count |
+------------+-------+
|    cuba    |   1   |
| relations  |   1   |
|   sought   |   1   |
|   combat   |   1   |
|   ending   |   1   |
| withdrawal |   1   |
|   state    |   1   |
|  islamic   |   1   |
|     by     |   1   |
|   gains    |   1   |
+------------+-------+
[273 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [11]:
obama_word_count_table

Columns:
	word	str
	count	float

Rows: 273

Data:
+------------+-------+
|    word    | count |
+------------+-------+
|    cuba    |  1.0  |
| relations  |  1.0  |
|   sought   |  1.0  |
|   combat   |  1.0  |
|   ending   |  1.0  |
| withdrawal |  1.0  |
|   state    |  1.0  |
|  islamic   |  1.0  |
|     by     |  1.0  |
|   gains    |  1.0  |
+------------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
obama_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  40.0 |
|   in  |  30.0 |
|  and  |  21.0 |
|   of  |  18.0 |
|   to  |  14.0 |
|  his  |  11.0 |
| obama |  9.0  |
|  act  |  8.0  |
|   he  |  7.0  |
|   a   |  7.0  |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compute TF-IDF for the entire corpus of articles

In [13]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [14]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'colleg... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'time': 1.0, 'honored': 1... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, 'promo': 1... |
| sam henderson born october... | {'journal': 1.0, 'niblit':... |
| aaron lacrate is an americ... | {'including': 1.0, 'artist... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'knuckles': 1.0, 'simply'... |
| cathy caruth born 1955 is ... | {'n3': 1.0, '2002': 1.0, '... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [16]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'colleg... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'time': 1.0, 'honored': 1... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, 'promo': 1... |
| sam henderson born october... | {'journal': 1.0, 'niblit':... |
| aaron lacrate is an americ... | {'including': 1.0, 'artist... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'knuckles': 1.0, 'simply'... |
| cathy caruth born 1955 is ... | {'n3': 1.0, '2002': 1.0, '... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'time': 1.325334207420049... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'journal': 3.025473923341... |
| {'including': 1.2272824458... |
| {'concordia': 6.2502969408... |
| {'knuckles': 8.04205641005... |
| {'n3': 10.293348208665249,... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for the Obama article

In [17]:
obama = people[people['name'] == 'Barack Obama']
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+--------------------+
|     word    |       tfidf        |
+-------------+--------------------+
|    obama    |  43.2956530720749  |
|     act     | 27.67822262297991  |
|     iraq    | 17.747378587965535 |
|   control   | 14.887060845181308 |
|     law     | 14.722935761763422 |
|   ordered   | 14.533373950913514 |
|   military  | 13.115932778499415 |
| involvement | 12.784385241175055 |
|   response  | 12.784385241175055 |
|  democratic | 12.410688697332166 |
+-------------+--------------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for Clooney

In [18]:
clooney = people[people['name'] == 'George Clooney']
clooney[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 239

Data:
+-------------------+--------------------+
|        word       |       tfidf        |
+-------------------+--------------------+
|      clooney      | 30.47679823695488  |
|      thriller     | 19.64459743254604  |
|       drama       | 13.544372218899177 |
|    comedydrama    | 12.973371437789858 |
|         er        | 12.782751078181208 |
|       actor       | 11.832160900443771 |
| categoriesclooney | 10.986495389225194 |
|  producingclooney | 10.986495389225194 |
|       heslov      | 10.986495389225194 |
|       comedy      | 10.481205264908446 |
+-------------------+--------------------+
[239 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Manually evaluate the distance between certain people's articles

In [19]:
clinton = people[people['name'] == 'Bill Clinton']
beckham = people[people['name'] == 'David Beckham']

## Is Obama closer to Clinton or to Beckham?

In [20]:
obama['tfidf'][0]

{'cuba': 5.005081177970713,
 'relations': 3.445873860568042,
 'sought': 4.327201469541557,
 'combat': 4.932056042955824,
 'ending': 4.547145018125096,
 'withdrawal': 6.27696518791286,
 'state': 1.7090572737165175,
 'islamic': 4.785986215182504,
 'by': 0.37455341206197373,
 'gains': 6.7238155121838785,
 'unconstitutional': 6.8276123058655225,
 '8': 2.7572509724892824,
 'marriage': 4.115404094614648,
 'down': 2.9476606314374463,
 'urged': 6.199003646443148,
 'process': 3.7451291059028766,
 'which': 0.7674309670437692,
 'filed': 4.70797396505935,
 'administration': 3.2952952917023315,
 'while': 1.8364359481339414,
 'americans': 4.761936959949835,
 'full': 3.003055326218652,
 'lgbt': 5.5883326877074415,
 'called': 2.0784770664403074,
 'proposition': 6.926052378678775,
 'shooting': 4.682046586803213,
 'elementary': 4.96062941539988,
 'gun': 5.269467687818973,
 'related': 3.723866788250953,
 'policies': 4.660345916070095,
 'promoted': 3.5191243223076345,
 'supreme': 3.9140734886878232,
 'has': 1.713990158976156,
 '2012': 1.7938099524877322,
 'reelected': 3.68265216394749,
 '2012obama': 10.986495389225194,
 'continued': 2.720588055069447,
 'budget': 4.523465932304524,
 'californias': 5.923900356198227,
 'limit': 5.355283607403829,
 'nations': 3.361876403065796,
 'briefs': 7.460134864609033,
 'not': 1.5880170751336171,
 'or': 1.9128915408224825,
 'lengthy': 5.862531409821935,
 '63': 5.22130428644035,
 'lost': 2.731706463076469,
 '2011': 5.107041270312875,
 'laden': 6.709829270209139,
 'against': 2.0079609791418744,
 'osama': 6.604468754551313,
 'obamacare': 9.04058524016988,
 'that': 0.6614069466714981,
 'defense': 3.794313330511949,
 'national': 2.3721863295447827,
 'operation': 4.3584540130456615,
 'ordered': 14.533373950913514,
 'made': 1.519886215502974,
 'earning': 3.857197840295821,
 'control': 14.887060845181308,
 'victory': 3.384593429350028,
 'arms': 5.030658019760364,
 'afghanistan': 9.4197037997671,
 'economic': 3.2704801225826072,
 'three': 1.4915025293575952,
 'troop': 7.248825770941826,
 'primaries': 6.669007275688884,
 'war': 2.809822617276739,
 'involvement': 12.784385241175055,
 'with': 0.6074059275661821,
 'foreign': 6.3816977057812005,
 'relief': 8.842460838379667,
 'repeal': 7.297615935111258,
 'convention': 4.417013968810898,
 'street': 3.250188292676909,
 'referred': 4.255477288743111,
 'military': 13.115932778499415,
 'constitutional': 4.529725733653031,
 'consumer': 4.7540473726746715,
 'care': 3.916621260766622,
 'major': 2.0581201293715634,
 'patient': 5.6393878585077255,
 'start': 3.281232914358869,
 'whether': 4.744272123770029,
 'federal': 3.0888272384982884,
 'term': 9.319341564760851,
 'initiatives': 4.895185507147496,
 'ask': 5.510031837293684,
 'domestic': 8.967410686619141,
 'increased': 4.75012579902149,
 'other': 1.4424007566948476,
 'over': 1.4878231559557336,
 'democratic': 12.410688697332166,
 'creation': 4.03568062078261,
 'romney': 6.843360662833661,
 'job': 3.446936559924164,
 'school': 3.6683618376520553,
 'russia': 4.025199343315028,
 'reauthorization': 8.907053847545358,
 'degree': 2.0206498944742566,
 'insurance': 4.594578275832593,
 'unemployment': 6.642689967371511,
 'normalize': 10.293348208665249,
 'tax': 4.545548848592274,
 'reinvestment': 8.421546031763658,
 'recovery': 5.103173000736915,
 'form': 3.233730580373866,
 'into': 1.6050629424066056,
 'recession': 6.642689967371511,
 'libya': 6.332535039067671,
 'states': 5.473200989631017,
 'great': 2.7682474625394486,
 'sandy': 5.493433945884646,
 'legislation': 4.687546142369252,
 'stimulus': 7.654290879049991,
 'mitt': 6.812108119329557,
 'levels': 4.647901311022012,
 'reform': 4.092839034622559,
 '1961': 3.3207419573634955,
 'as': 0.7630171320744707,
 'doddfrank': 9.887883100557085,
 'operations': 3.811771079388818,
 'sworn': 4.96062941539988,
 'years': 1.0752380994247055,
 'laureateduring': 10.986495389225194,
 'prize': 2.7453192387302345,
 '1996': 2.135691193468776,
 'named': 2.0300155412252816,
 'nine': 3.2624907325491286,
 '2009': 4.693309450812809,
 '20': 4.88376320446593,
 'included': 2.4446095852185854,
 'began': 1.727460095710253,
 'on': 0.36882550670120073,
 '13th': 4.9534091674263925,
 'inaugurated': 6.27696518791286,
 'to': 0.6572291275451891,
 'general': 2.220724845237937,
 'second': 3.344851662973069,
 'rodham': 7.690658523220865,
 'two': 1.0988831858473562,
 'john': 1.9913303989140443,
 'address': 4.8023464982877115,
 'sufficient': 6.432618497624653,
 'protection': 8.698474715881474,
 'hold': 4.144879912747602,
 'won': 1.3836400683164753,
 'hillary': 6.002888767516858,
 'born': 0.53639254752953,
 'close': 3.5416621153330006,
 'after': 3.7773337680052257,
 'a': 0.039334291308082026,
 'treaty': 5.89889905399281,
 'seats': 5.000043383940756,
 'november': 3.9453132752336004,
 'election': 7.712676160711769,
 'wall': 4.021415043623787,
 'presidential': 7.386955418904825,
 'often': 2.862641126119281,
 'july': 1.9428000946579587,
 'organizer': 5.501698455734539,
 'primary': 6.710127449296579,
 'nobel': 5.075698745184667,
 'party': 7.0620334604226676,
 'court': 2.896399606044235,
 'march': 1.9573172463231197,
 '1992': 2.278351314316948,
 'bm': 7.202305755306933,
 'keynote': 5.433535804303577,
 'campaign': 9.077468342511231,
 '2000in': 6.250296940830698,
 'clinton': 4.542364132524754,
 'during': 2.634930295807099,
 'ended': 3.3430124821479934,
 'he': 1.493579903611068,
 'house': 4.651096468328522,
 'bin': 5.6158573610975315,
 'and': 0.01564802185902329,
 'senate': 10.164288179703693,
 'attention': 3.4269358932174945,
 'district': 2.774469584601757,
 'new': 0.8871532656125274,
 'worked': 1.553891853362109,
 'representing': 3.535253704237518,
 'mccain': 6.766987684049088,
 'current': 2.8308461188591933,
 'january': 5.656236009557883,
 'terms': 3.8240978918694766,
 '2004': 5.071033082507702,
 '2010': 3.185667920243947,
 '2008': 1.5093391374786154,
 'from': 0.8812660139569034,
 'months': 3.0427126967665687,
 'policy': 6.095386282141427,
 'at': 0.43063857330825733,
 'strike': 5.025490049601921,
 'for': 0.29145011737314763,
 'civil': 3.3244978303233013,
 'taught': 2.8485149347730556,
 'brk': 10.293348208665249,
 'attorney': 3.6593720969659014,
 'running': 3.3516747114796512,
 'before': 1.4967823726683713,
 'then': 1.4309354361561304,
 'chicago': 5.858235801334405,
 '4': 2.437803530749586,
 'community': 2.693196030513871,
 '1997': 2.1298344522079455,
 'resulted': 4.015765311081669,
 'debt': 5.6158573610975315,
 'illinois': 7.480254618245467,
 'harvard': 6.634000276435001,
 'us': 11.591942692842837,
 'review': 3.227734845067532,
 'nomination': 3.7697859025157365,
 'taxpayer': 7.431147327735781,
 'death': 3.1568650000750016,
 'law': 14.722935761763422,
 'husen': 10.986495389225194,
 'dont': 8.28123102792229,
 'spending': 4.176352939110058,
 'served': 3.0725446998610506,
 'equality': 5.341048491581956,
 'iraq': 17.747378587965535,
 'where': 1.089076212090673,
 'columbia': 3.232442750189437,
 'unsuccessfully': 4.831637295208776,
 'was': 0.3968289280609173,
 'hawaii': 4.806478735572622,
 'total': 3.2767385247710297,
 '2007': 1.4879730697555795,
 'hook': 6.2951475069960505,
 'debate': 4.783959872037272,
 'honolulu': 5.880549915324614,
 'raise': 4.67476058007228,
 'barack': 5.067601534952048,
 'tell': 4.804410482508563,
 'affordable': 6.134465125305577,
 'first': 2.0868146141979307,
 'obama': 43.2956530720749,
 'hussein': 6.126682984863522,
 '2013': 1.9545642372230505,
 'republicans': 5.592867842872833,
 'in': 0.028962190503643476,
 'office': 5.2481728232196465,
 'american': 3.3821333532750204,
 'graduate': 2.6750971107885535,
 'is': 0.05523250095103998,
 'peace': 3.7928095708300824,
 'regained': 5.583818007352915,
 'represent': 4.184100625900883,
 'defeating': 4.285764279677384,
 'signed': 7.552957376250012,
 'president': 7.226869291326606,
 'united': 4.703766236011668,
 'african': 3.582216271187926,
 'representatives': 7.484535747243688,
 'nominee': 9.43101391473379,
 '44th': 7.0744723837970485,
 'delegates': 6.142308302766603,
 'the': 0.004063113702956533,
 'his': 2.8887260073502303,
 'august': 2.000173951599175,
 'republican': 7.207497878972565,
 'defeated': 3.4068165661347387,
 'university': 1.6946860096423695,
 'received': 1.5396609815666638,
 'of': 0.07481117158400744,
 'receive': 4.448355565457525,
 'response': 12.784385241175055,
 'ii': 3.3077063910260405,
 'act': 27.67822262297991,
 'rights': 3.06677562830062}

In [21]:
turicreate.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

0.8339854936884276

In [22]:
turicreate.distances.cosine(obama['tfidf'][0],beckham['tfidf'][0])

0.9791305844747478

# Apply nearest neighbors for retrieval of Wikipedia articles

## Build the NN model

In [23]:
knn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

## Use model for retrieval... for example, who is closest to Obama?

In [24]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 48.588ms     |

| Done         |         | 100         | 386.705ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |   Barack Obama  |        0.0         |  1   |
|      0      |    Joe Biden    | 0.7941176470588236 |  2   |
|      0      |  Joe Lieberman  | 0.7946859903381642 |  3   |
|      0      |   Kelly Ayotte  | 0.8119891008174387 |  4   |
|      0      |   Bill Clinton  | 0.8138528138528138 |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

## Other examples of retrieval

In [25]:
swift = people[people['name'] == 'Taylor Swift']

In [52]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 23.273ms     |

| Done         |         | 100         | 555.666ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |   Taylor Swift   |        0.0         |  1   |
|      0      | Carrie Underwood | 0.7623188405797101 |  2   |
|      0      |   Alicia Keys    | 0.7647058823529411 |  3   |
|      0      |  Jordin Sparks   | 0.7696335078534031 |  4   |
|      0      |   Leona Lewis    | 0.7761194029850746 |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [27]:
jolie = people[people['name'] == 'Angelina Jolie']

In [28]:
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 46.8ms       |

| Done         |         | 100         | 366.686ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+--------------------+------+
| query_label |  reference_label   |      distance      | rank |
+-------------+--------------------+--------------------+------+
|      0      |   Angelina Jolie   |        0.0         |  1   |
|      0      |     Brad Pitt      | 0.7840236686390533 |  2   |
|      0      |   Julianne Moore   | 0.7958579881656804 |  3   |
|      0      | Billy Bob Thornton |  0.80306905370844  |  4   |
|      0      |   George Clooney   |     0.8046875      |  5   |
+-------------+--------------------+--------------------+------+
[5 rows x 4 columns]

In [29]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [30]:
knn_model.query(arnold)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 40.193ms     |

| Done         |         | 100         | 476.587ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+--------------------+------+
| query_label |    reference_label    |      distance      | rank |
+-------------+-----------------------+--------------------+------+
|      0      | Arnold Schwarzenegger |        0.0         |  1   |
|      0      |     Jesse Ventura     | 0.8189189189189189 |  2   |
|      0      |     John Kitzhaber    | 0.8246153846153846 |  3   |
|      0      |     Lincoln Chafee    | 0.8338762214983714 |  4   |
|      0      |      Anthony Foxx     | 0.8339100346020761 |  5   |
+-------------+-----------------------+--------------------+------+
[5 rows x 4 columns]

## Quiz

1. Compare top words according to word counts to TF-IDF:  In the notebook we covered in the module, we explored two document representations: word counts and TF-IDF.  Now, take a particular famous person, 'Elton John'. What are the 3 words in his articles with highest word counts?  What are the 3 words in his articles with highest TF-IDF?   These results illustrate why TF-IDF is useful for finding important words.

In [39]:
eltonjohn = people[people['name'] == 'Elton John']
eltonjohn_word_count_table = eltonjohn[['word_count']].stack('word_count', new_column_name = ['word','count'])
eltonjohn_word_count_table.sort('count', ascending = False)[0:3]

Columns:
	word	str
	count	float

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |  27.0 |
|  in  |  18.0 |
| and  |  15.0 |
+------+-------+
[3 rows x 2 columns]

In [38]:
eltonjohn_tfdif = eltonjohn[['tfidf']].stack('tfidf', new_column_name = ['word','tfidf'])
eltonjohn_tfdif.sort('tfidf', ascending = False)[0:3]

Columns:
	word	str
	tfidf	float

Rows: 3

Data:
+-----------+--------------------+
|    word   |       tfidf        |
+-----------+--------------------+
|  furnish  | 18.38947183999428  |
|   elton   | 17.482320270031995 |
| billboard | 17.30368095754203  |
+-----------+--------------------+
[3 rows x 2 columns]

2. Measuring distance:  Elton John is a famous singer; let’s compute the distance between his article and those of two other famous singers. In this assignment, you will use the cosine distance, which one measure of similarity between vectors, similar to the one discussed in the lectures.  You can compute this distance using the turicreate.distances.cosine function. What’s the cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’? What’s the cosine distance between the articles on ‘Elton John’ and Paul McCartney’?  Which one of the two is closest to Elton John?  Does this result make sense to you?  Save these results to answer the quiz at the end.

In [40]:
#filtering for other singers
vbeck = people[people['name'] == 'Victoria Beckham']
pmcartney = people[people['name'] == 'Paul McCartney']

In [43]:
#computing distances
print ('Distance between Elton John and VBeck is', turicreate.distances.cosine(eltonjohn['tfidf'][0],vbeck['tfidf'][0]))
print ('Distance between Elton John and P. McCartney is', turicreate.distances.cosine(eltonjohn['tfidf'][0],pmcartney['tfidf'][0]))

Distance between Elton John and VBeck is 0.9567006376655429
Distance between Elton John and P. McCartney is 0.8250310029221779

3. Building nearest neighbors models with different input features and setting the distance metric:  In the sample notebook, we built a nearest neighbors model for retrieving articles using TF-IDF as features and using the default setting in the construction of the nearest neighbors model.  Now, you will build two nearest neighbors models:

a. Using word counts as features

b. Using TF-IDF as features

In [49]:
people[0]['word_count']
people[0]['tfidf']

{'melbourne': 3.8914310119380633,
 'college': 1.5613662703175555,
 'parade': 5.510031837293684,
 'education': 2.4487155642005685,
 'teaches': 3.7712554104950966,
 'currently': 1.637088969126014,
 'edflhe': 10.986495389225194,
 'also': 0.4627270916162349,
 'coburg': 7.851001173296044,
 'coached': 3.9925624140020046,
 'has': 0.428497539744039,
 'premiership': 4.5439552227569955,
 'division': 2.7906099979103978,
 '2011': 1.7023470901042916,
 'strathmore': 8.588600116426823,
 'until': 1.7591012626831841,
 '2009': 1.5644364836042695,
 'retiring': 3.8140708121003493,
 'hawks': 5.531174273867493,
 'hill': 3.794313330511949,
 'shifted': 5.634637255749128,
 'from': 0.5875106759712689,
 '2008': 1.5093391374786154,
 '2007': 1.4879730697555795,
 'coach': 5.444264118987054,
 'assistant': 2.5220702633476124,
 'acted': 4.137429106591736,
 'northern': 3.310021742836038,
 'victorian': 4.564873121418676,
 '2005': 1.6425861253275964,
 'his': 0.7878343656409719,
 'senior': 6.897159666747814,
 'delisted': 5.816011394187043,
 'blues': 4.064837205074066,
 'games': 2.2331239682242914,
 'digby': 8.347438059609935,
 'mckernan': 9.600201028105303,
 'corey': 6.486685718894929,
 'exchange': 4.113331555012676,
 'teague': 9.04058524016988,
 'along': 2.5088749729287803,
 'following': 1.9609195556941061,
 'traded': 3.952107459309691,
 'bullants': 7.489987827758714,
 'west': 5.205210090246754,
 'was': 0.3968289280609173,
 'game': 2.4168995190159084,
 'play': 2.270287418073342,
 'rookie': 4.104057918227347,
 'drawn': 4.96062941539988,
 '2002': 1.8753125887822302,
 'vflaffiliate': 7.431147327735781,
 'cause': 4.8023464982877115,
 'afl': 4.70049729471633,
 'in': 0.01255028255157884,
 'club': 11.043158373020127,
 'first': 0.6956048713993103,
 'season': 5.6626008156972025,
 'against': 4.015921958283749,
 'time': 1.3253342074200498,
 'during': 1.3174651479035495,
 'goals': 3.4581636225179473,
 'twice': 3.3301582227950113,
 'forward': 3.8848194176057507,
 'age': 2.138848033513307,
 'selection': 3.836578553093086,
 'round': 2.897933583948961,
 'end': 4.839120211828286,
 'third': 2.3506306680914584,
 'physical': 4.001779069106929,
 'other': 1.4424007566948476,
 '2013': 1.9545642372230505,
 'by': 0.37455341206197373,
 'as': 0.2543390440248236,
 'at': 0.8612771466165147,
 'to': 0.23472468840899613,
 '21': 2.797250863489293,
 'of': 0.016624704796446097,
 '19982000': 6.509158574746988,
 'who': 0.9098952189804214,
 'western': 3.0880842964135953,
 'goalkicker': 6.859361004180102,
 '32': 4.3717697890214335,
 'being': 1.7938099524877322,
 '2001': 1.9280249665871378,
 'draft': 3.240194726993755,
 'leading': 5.061504320250359,
 'carltons': 7.0744723837970485,
 'carlton': 10.682096983163913,
 'falcons': 5.868501576808439,
 'career': 1.3050270203415668,
 'kicked': 5.142950972193835,
 'playing': 4.182005515547123,
 '44game': 9.887883100557085,
 'perth': 5.051601193605607,
 'for': 0.29145011737314763,
 'recruited': 4.4897203990393315,
 'since': 1.455376717308041,
 'early': 1.929422753652229,
 'essendon': 6.016682089649193,
 'australian': 8.630007339620153,
 'clubs': 3.4464050690798693,
 'district': 2.774469584601757,
 '2006': 1.520737905384506,
 'australia': 2.86858644684204,
 'october': 1.9182947844101343,
 '2000': 1.8763068991994527,
 'league': 8.342695137239867,
 'born': 0.268196273764765,
 'david': 2.4512658353228582,
 'and': 0.002980575592194913,
 'premier': 3.6766139034004075,
 'vfl': 5.253154112327449,
 'spanned': 5.531174273867493,
 '2003': 1.8013702663900752,
 'its': 1.6875948402695313,
 'rules': 3.8272034844276295,
 '2014': 2.2073995783446634,
 'footballer': 3.2388985505323085,
 'continued': 2.720588055069447,
 'before': 2.9935647453367427,
 'five': 2.2137301792754096,
 'sydney': 3.5981675296480873,
 'box': 4.576320507259028,
 'morrell': 46.88528738395547,
 'played': 4.636320601315451,
 '1979': 2.6032908378122737,
 'is': 0.02761625047551999,
 'former': 1.3573131120992086,
 'he': 1.280211345952344,
 'with': 1.0123432126103034,
 '10': 2.3157231098806563,
 'losing': 3.773463729390325,
 'a': 0.022476737890332586,
 'football': 25.58570665567139,
 'brisbaneafter': 10.986495389225194,
 'aflfrom': 10.986495389225194,
 'kangaroos': 20.726873835958425,
 'the': 0.0027426017494956603}

In [50]:
#creating word count model
wordcount_knn_model = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [51]:
#creating tfidf model
tfidf_knn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?

In [54]:
wordcount_knn_model.query(eltonjohn)[1]

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.121ms     |

| Done         |         | 100         | 402.959ms    |

+--------------+---------+-------------+--------------+

{'query_label': 0,
 'reference_label': 'Cliff Richard',
 'distance': 0.16142415258967036,
 'rank': 2}

What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?

In [56]:
tfidf_knn_model.query(eltonjohn)[1]

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 23.144ms     |

| Done         |         | 100         | 499.438ms    |

{'query_label': 0,
 'reference_label': 'Rod Stewart',
 'distance': 0.7172196678927374,
 'rank': 2}

+--------------+---------+-------------+--------------+

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?

In [55]:
wordcount_knn_model.query(vbeck)[1]

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 36.396ms     |

| Done         |         | 100         | 577.284ms    |

{'query_label': 0,
 'reference_label': 'Mary Fitzgerald (artist)',
 'distance': 0.20730703611504997,
 'rank': 2}

+--------------+---------+-------------+--------------+

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?

In [57]:
tfidf_knn_model.query(vbeck)[1]

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 21.348ms     |

| Done         |         | 100         | 459.526ms    |

{'query_label': 0,
 'reference_label': 'David Beckham',
 'distance': 0.5481696102632145,
 'rank': 2}

+--------------+---------+-------------+--------------+